@charset "utf-8";
  * {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        font-family: "맑은고딕";
    }

    body, html {
        background-color: #FFFFFF;
        color: #666666;
        min-width: 1000px;
    }

    img { max-width: 100% }
    
    a { color: inherit; text-decoration: none; }
    
    .all { width: 100%; float: left; }

    .wrap { width: 1000px; }
    
    .clear { clear: both; position: inherit; }

    header { height: 150px; }

    #header_logo { padding: 15px; }
    
    .logo { 
        height: 120px; 
        overflow: hidden;
        float: left;
    }
    
    .logo>a>img { width: 300px;}


    nav { float:left; padding-left:50px;}
    
    .nav { 
        height: 20px;
        width: 600px;
        margin-top: 20px;
    }
    
    .nav>li {
        float: left; 
        width: 150px;
        text-align:center;
        position: relative;
        transition: all 0.8s;
        padding: 10px 0;				
    }

    .nav>li:after{ clear: both;}
    
    .nav>li:hover{ background-color: #FFD9EC; color: #6799FF;}

    .submenu{
        display: none;
        z-index: 1;
        background-color: rgba(255,255,255,0.8);
        position: absolute;
        width: 100%;
        margin-top: 5px;
    }
    
    .submenu>li{                                        /*서브메뉴 */       
        padding: 5px 0px; 
        transition: all 1s;
        color: #FFFFFF;
    }
    
    .submenu>li:hover{
        background-color: #999999;
        color: inherit;
    }

    #imageslide{
        height:400px;
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

    #imgs{ 
        width: 5000px;
        position: absolute;
    }

    #imgs img { float: left; width: 1000px; height: 400px;}


    #imgsbar {
        position: relative;
        margin: 20px auto;
        width: 80px;
    }
    
    #imgsbar a {
        float: left;
        width: 15px;
        height: 15px;
        background: url(images/main/dot.png) no-repeat;
    }
    
    #imgsbar a.active {
        background-position:0 -30px; 
    }

    .welcome {
        height: 100px;
        width: 300px;
        position: absolute;
        margin: -50px 0 0 -150px !important;
        text-align: center;
        line-height: 100px;
        background-color: rgba(255,255,255,0.2);
        border-radius: 20px;
        left: 50%;
        top: 50%;
    }
    
    .welcome h2 {
        color: #FFFFFF;
    }
    
    #contents {
        height: 500px;
    }

    .notice {
        width: 480px;
        margin-top: 20px;
        float: left;
    }

    .notice h2 { 
        color: #666666;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .table {	
        border-collapse: collapse;
        font-size: 0.9em;
        color: #666666;
        width: 480px;
    }

    .table tr > td{ padding: 5px;}

    .table tr:nth-child(2n) {
        background-color: #cccccc;
    }

    .banner{
        width: 480px;
        margin-top: 20px;
        float:right;
    }
    
    .banner h2 { 
        text-align:center;
        color:#666666;
        padding-bottom:10px;  
    }

    .banner_info {
        text-align: center;
        height: 150px;		
    }
    
    .banner_info > img { height: 100%; width: 100%;}

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        display: none;
    }
    
    .modal .content {
        margin: 20px auto;
        padding: 20px;
        width: 600px;
        background-color: #FFFFFF;
    }
    
    .modal .content img {
        display: block;
        margin: 0 auto;
        padding: 20px 30px;
        width: 80%;
    }
    
    .modal .content button {
        color: #FFF;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        background-color: #999999;
        cursor: pointer;
    }

    .icon {
        margin-top: 10px;
        position: relative;
        left: 15%;
    }
    
    .icons {
        text-align: center
    
    }
    
    .btn {
        width: 180px;
        margin: 30px;
        float: left;
        display: inline-block;
        margin-top: 100px;
    }
    
    .btn>button:hover {
        cursor:pointer;
        background-color: #6799FF
    }
    
    .btn button {
        padding: 10px;
        background-color: #999999;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        font-size: 20px
    }
    
    footer {
        height: 100px;
        width: 1000px;
        background-color: #6799FF;
        color: #FFFFFF;
        overflow: hidden;
        margin-top: 10px;		
    }
    
    footer .wrap {
        padding: 10px 20px;
    }

    footer ul {
        width: 50%;
        float: left

    }
    
    footer ul > li {
        float: left;
        margin-left: 20px;
        margin-top: 10px
    }
    
    footer p {
        width: 50%;

        float: right;

    }